.divFormulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(15, 15, 14);
}
.formu{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: 1/1;
    border-right: 1px solid #4CFDB3 ;
    .formulario{
        color: #4CFDB3;
        font-weight: bold;  
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        background-image: linear-gradient(271deg, #000000,#3d3535);
    }
}