/*HEADER*/

$tablet:768px;
$laptop:1024px;

header{
    background-color:#0D0D0D;
    list-style-type: lower-alpha;
    position: fixed;
    width: 100%;
    height: 60px;
    left: 0%;
    top:0%;
    padding: 10px;

    nav{
    display: flex;
    justify-content: space-between;
    }
    .logo{
    font-size: 25px;
    font-weight:normal;
    text-decoration: none;
    color: whitesmoke;
    line-height:40px;
    transition: color .5s;
    }
       .logo:hover{
        color: #ACFDB3;
    }
    .logo2{
        max-width: 9%;
        max-height: 100%;
        display: inline-block;
        margin-bottom: 11px;
        margin-right: 6px;
    }
}
.container-fluid{
    background-color: black;
}
.nav_responsive_ul{
        display: none;
    }
.listadoNavegacion{
    display: flex;
    padding-right: 5%;
    line-height: 40px;
    position: relative;
    width: 100%;
    justify-content: flex-end;
        .navegacion{
        text-decoration: none;
        color: whitesmoke;
        font-size:small;
        letter-spacing: 5px;
        margin: 10px;
        text-transform: uppercase;
        width: max-content; 
        transition: background-color .5s;
        transition: color .5s
        }    
        li:hover >a{
            color: #ACFDB3;
        }
}   
.subMenu{
    position: absolute;
    display: none;
    .listaSubMenu{
        display: block;
        background-color: #272626
    }
    .links{
        text-decoration: none;
        color: whitesmoke;
        font-size:small;
        letter-spacing: 5px;
        margin: 10px;
        text-transform: uppercase;
        width: max-content;
        animation-duration: 2s;
        animation-name: aparecer;
        }
}  
.nav_responsive-button-container{
    position:relative;
    width: 100%;
    font-size: 25px; 
    margin-top: -64px;
    z-index: 100 ;
}    
.nav_responsive-button{
    float: right; 
    padding: 6px 20px;
    text-align: right;
    width: 100%;
    color: #ACFDB3;
}  
.prueba{
    display: none;
}
@media only screen and (max-width:$tablet){
    .logo2{
        max-width: 50%;
    }
    .listadoNavegacion{
            display: none;
        }
    nav{
        height: 37px;
        width: 100%;
    }
    .menu_responsive{
        margin-top: 3px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
    }
    .nav_responsive_ul{
        display: block;
        position: absolute;
        width: auto;
        margin-top: 37px;
        padding-top: 27px;
        height: 37px;
    }
    .nav_li-container{
        position: relative;
        top: -1000px;
        height: fit-content;
        background-color: #404040;
        transition: all 1s;
        z-index: 1;
        width: 75% ;
    }
    .nav_responsive_li{
        width: 100%;
        text-align: center;
        display: block;
        padding: 10px;
        border-bottom: 1px solid #acfdb3;
    }
    .nav_responsive_li a{
        text-decoration: none;
        box-sizing: border-box;
        text-align: center;
        margin-right: 5px;
        width: 30px;
        color: whitesmoke;
        font-size:small;
        letter-spacing: 5px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 100;
    } 
    .nav_responsive_ul:hover > .nav_li-container {
        top: -27px;
    }
}

@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

