/*MAIN - PAGINA DE MARCAS*/

.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 5%;
    align-items: center;
    
    .definicion{
        grid-area: 1/1;
        padding: 1rem;
        border-top: dotted 5px #4CFDB3;
        border-right: dotted 5px #4CFDB3;
    }
    .registro{
        grid-area: 2/2;
        padding: 1rem;
        border-top: dotted 5px #4CFDB3;
        border-left: dotted 5px #4CFDB3;
    }
    .derechos{
        grid-area: 3/1;
        padding: 1rem;
        border-top: dotted 5px #4CFDB3;
        border-right: dotted 5px #4CFDB3;
    }
    .asesoramiento{
        grid-area: 4/2;
        padding: 1rem;
        border-top: dotted 5px #4CFDB3;
        ul{
            li{
                display: block;
                color: whitesmoke;
                font-size: 1rem;
                text-decoration: none;
            }
        }
    }
}    

