* {
  margin: 0%;
  box-sizing: border-box; }

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  background-color: #0D0D0D; }

ul {
  list-style: none;
  font-size: small; }

li {
  display: inline-block;
  width: auto;
  position: relative;
  font-size: 14px; }
  li:hover ul {
    display: block; }

.content {
  margin-top: 50px;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .content h1 {
    font-weight: bold;
    padding-top: 1rem;
    padding-left: 78px;
    font-size: calc(1.375rem + 1.5vw);
    padding: 10px;
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
    display: inline-block;
    color: #4CFDB3; }

h1:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent; }

h1:hover:after {
  animation: animate2 1s linear forwards; }

@keyframes animate2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #00fc93; }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #00fc93;
    border-left-color: #00fc93; }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #00fc93;
    border-left-color: #00fc93; } }

h1:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent; }

h1:hover:before {
  animation: animate 1s linear forwards; }

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: #00fc93;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent; }
  50% {
    width: 100%;
    height: 0;
    border-top-color: #00fc93;
    border-right-color: #00fc93;
    border-bottom-color: transparent;
    border-left-color: transparent; }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #00fc93;
    border-right-color: #00fc93;
    border-bottom-color: transparent;
    border-left-color: transparent; } }

.parrafos {
  color: whitesmoke; }

h2 {
  color: #4CFDB3;
  font-style: italic; }

.info .infoPatentes h2 {
  animation-duration: 6s;
  animation-delay: 0.2s; }

@media (min-width: 1024px) {
  header main {
    padding: 0 4rem; } }

/*HEADER*/
header {
  background-color: #0D0D0D;
  list-style-type: lower-alpha;
  position: fixed;
  width: 100%;
  height: 60px;
  left: 0%;
  top: 0%;
  padding: 10px; }
  header nav {
    display: flex;
    justify-content: space-between; }
  header .logo {
    font-size: 25px;
    font-weight: normal;
    text-decoration: none;
    color: whitesmoke;
    line-height: 40px;
    transition: color .5s; }
  header .logo:hover {
    color: #ACFDB3; }
  header .logo2 {
    max-width: 9%;
    max-height: 100%;
    display: inline-block;
    margin-bottom: 11px;
    margin-right: 6px; }

.container-fluid {
  background-color: black; }

.nav_responsive_ul {
  display: none; }

.listadoNavegacion {
  display: flex;
  padding-right: 5%;
  line-height: 40px;
  position: relative;
  width: 100%;
  justify-content: flex-end; }
  .listadoNavegacion .navegacion {
    text-decoration: none;
    color: whitesmoke;
    font-size: small;
    letter-spacing: 5px;
    margin: 10px;
    text-transform: uppercase;
    width: max-content;
    transition: background-color .5s;
    transition: color .5s; }
  .listadoNavegacion li:hover > a {
    color: #ACFDB3; }

.subMenu {
  position: absolute;
  display: none; }
  .subMenu .listaSubMenu {
    display: block;
    background-color: #272626; }
  .subMenu .links {
    text-decoration: none;
    color: whitesmoke;
    font-size: small;
    letter-spacing: 5px;
    margin: 10px;
    text-transform: uppercase;
    width: max-content;
    animation-duration: 2s;
    animation-name: aparecer; }

.nav_responsive-button-container {
  position: relative;
  width: 100%;
  font-size: 25px;
  margin-top: -64px;
  z-index: 100; }

.nav_responsive-button {
  float: right;
  padding: 6px 20px;
  text-align: right;
  width: 100%;
  color: #ACFDB3; }

.prueba {
  display: none; }

@media only screen and (max-width: 768px) {
  .logo2 {
    max-width: 50%; }
  .listadoNavegacion {
    display: none; }
  nav {
    height: 37px;
    width: 100%; }
  .menu_responsive {
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start; }
  .nav_responsive_ul {
    display: block;
    position: absolute;
    width: auto;
    margin-top: 37px;
    padding-top: 27px;
    height: 37px; }
  .nav_li-container {
    position: relative;
    top: -1000px;
    height: fit-content;
    background-color: #404040;
    transition: all 1s;
    z-index: 1;
    width: 75%; }
  .nav_responsive_li {
    width: 100%;
    text-align: center;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #acfdb3; }
  .nav_responsive_li a {
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    margin-right: 5px;
    width: 30px;
    color: whitesmoke;
    font-size: small;
    letter-spacing: 5px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100; }
  .nav_responsive_ul:hover > .nav_li-container {
    top: -27px; } }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

footer {
  width: 100%;
  padding: 50px 0px;
  background-color: #00C976;
  background-image: linear-gradient(to left, #00FC93, #257D59); }

.containerFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto; }

.boxFooter {
  display: flex;
  flex-direction: column;
  padding: 40px; }

.logo {
  text-align: center;
  font-size: 3em;
  color: #4cfdb3;
  width: 353px; }
  .logo h2 {
    font-weight: bold;
    color: #404040;
    font-style: italic; }
  .logo img {
    width: 50%; }

.terms {
  max-width: 353px;
  margin-top: 20px;
  font-weight: 500;
  color: #404040;
  font-size: 18px; }
  .terms p {
    color: #404040;
    font-weight: bold;
    text-align: justify; }

.boxFooter h2 {
  margin-bottom: 30px;
  color: #404040;
  font-weight: 700; }

.boxFooter a {
  margin-top: 10px;
  color: #404040;
  font-weight: 600; }
  .boxFooter a .fab {
    font-size: 20px; }

.boxFooter a:hover {
  opacity: 0.8; }

.boxCopyRight {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
  border-top: 1px solid #404040; }
  .boxCopyRight p {
    margin-top: 20px;
    color: #404040;
    font-weight: bold; }

/* PAGINA DE MARCAS*/
.frase3 {
  background-image: url(/imagenes/rasgado.jpg);
  background-repeat: round;
  background-size: cover;
  width: 100%;
  height: 401px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .frase3 p {
    text-align: center;
    color: black;
    font-size: x-large;
    font-weight: bold; }

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 5%;
  align-items: center; }
  .info .definicion {
    grid-area: 1/1;
    padding: 1rem;
    border-top: dotted 5px #4CFDB3;
    border-right: dotted 5px #4CFDB3;
    height: 100%; }
  .info .registro {
    grid-area: 2/2;
    padding: 1rem;
    border-top: dotted 5px #4CFDB3;
    border-left: dotted 5px #4CFDB3;
    height: 100%; }
  .info .derechos {
    grid-area: 3/1;
    padding: 1rem;
    border-top: dotted 5px #4CFDB3;
    border-right: dotted 5px #4CFDB3;
    height: 100%; }
  .info .asesoramiento {
    grid-area: 4/2;
    padding: 1rem;
    border-top: dotted 5px #4CFDB3;
    height: 100%; }
    .info .asesoramiento ul li {
      display: block;
      color: whitesmoke;
      font-size: 1rem;
      text-decoration: none; }

/* PAGINA DE PATENTES*/
.frase5 {
  background-image: url(/imagenes/TitlePage.png);
  background-size: cover;
  width: 100%;
  height: 401px;
  padding: 50px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end; }
  .frase5 p {
    text-align: center;
    color: #4CFDB3;
    font-size: x-large; }

.infoPatentes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  margin: 5%;
  align-items: center; }
  .infoPatentes .definicion {
    grid-area: 1/1;
    padding: 1rem;
    border-top: dotted 5px #4CFDB3;
    border-right: dotted 5px #4CFDB3;
    height: 100%; }
  .infoPatentes .registro {
    grid-area: 2/2;
    padding: 1rem;
    border-top: dotted 5px #4CFDB3;
    border-left: dotted 5px #4CFDB3;
    height: 100%; }
  .infoPatentes .derechos {
    grid-area: 3/1;
    padding: 1rem;
    border-top: dotted 5px #4CFDB3;
    border-right: dotted 5px #4CFDB3;
    height: 100%; }
  .infoPatentes .asesoramiento {
    grid-area: 4/2;
    padding: 1rem;
    border-top: dotted 5px #4CFDB3;
    border-left: dotted 5px #4CFDB3;
    height: 100%; }
    .infoPatentes .asesoramiento ul li {
      display: block;
      color: whitesmoke;
      font-size: 1rem;
      text-decoration: none; }
  .infoPatentes .requisitos {
    grid-area: 5/1;
    padding: 1rem;
    border-top: dotted 5px #4CFDB3; }
    .infoPatentes .requisitos ol li {
      list-style: outside;
      display: block;
      color: whitesmoke;
      font-size: 1rem; }
    .infoPatentes .requisitos a {
      color: whitesmoke;
      font-size: 14px; }

.divPatente {
  display: flex;
  margin-left: 1%;
  margin-top: 50vh;
  width: 570px;
  height: 200px;
  position: absolute;
  font-weight: bold;
  font-size: xx-large;
  color: whitesmoke;
  flex-direction: column;
  justify-content: center; }

.gridPatentes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  margin: 3rem;
  width: 100%; }

/*---CONTACT US---*/
.formulario1 {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3); }

@media (min-width: 768px) {
  .formulario1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2em; }
  .infoContact {
    padding: 1em;
    text-align: left; } }

.datos {
  font-weight: bold;
  margin: 0;
  padding: 1em; }
  .datos h3 {
    border-bottom: 1px solid #4cfdb3; }

form {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  form p {
    margin: 0;
    padding: 1em; }

.estiloDeForm {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #4cfdb3; }

.block {
  grid-column: 1/3;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1em;
  margin: 10px; }

button {
  background-color: #4cfdb3ed;
  color: black;
  width: 100%; }

.datos form button:hover,
.datos form button:focus {
  background-color: #257D59;
  color: whitesmoke;
  transition: 1s; }

.infoContact {
  text-align: center;
  color: black;
  margin: 0;
  padding: 1em;
  background-color: #00FC93;
  font-weight: bold;
  width: 100%;
  padding: 1em; }
  .infoContact h3 {
    font-weight: bold; }
  .infoContact ul li {
    display: block;
    margin: 8px; }

.maps {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8rem; }
  .maps h2 {
    width: fit-content; }

/*PAGINA DE MODELOS*/
.frase4 {
  background-image: url(/imagenes/divisor.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .frase4 p {
    text-align: center;
    color: #66fabd;
    font-size: x-large;
    font-weight: bold; }

/*MAIN - PAGINA DE INICIO*/
main .divPortada {
  background-image: url(../imagenes/splash.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  background-position: center;
  margin-top: 50px;
  height: 100vh;
  display: flex;
  align-content: stretch;
  justify-content: center;
  align-items: center; }
  main .divPortada .frase {
    display: flex;
    color: whitesmoke;
    font-weight: bold;
    flex-direction: column;
    align-items: center; }

.enfasis {
  color: #ACFDB3; }

.frase2 {
  background-image: url(imagenes/arquitectura2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 480px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .frase2 p {
    text-align: center;
    text-align: justify;
    color: black;
    font-size: x-large;
    font-weight: bold; }

.tit {
  display: flex;
  border-bottom: groove 3px #257D59;
  padding: 50px;
  margin: 40px;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center; }

.padreInicio {
  display: grid;
  grid-template-columns: 1fr;
  align-content: stretch;
  align-items: center;
  justify-items: center;
  gap: 100px;
  margin: 0 3%;
  margin-bottom: 50px; }
  .padreInicio .cajas {
    row-gap: 3rem;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .padreInicio .cajas p {
      text-align: justify; }
    .padreInicio .cajas .logoCajas {
      height: 100px;
      width: 100px; }

.gridClients {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
  padding: 30px; }
  .gridClients figure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 150px; }
    .gridClients figure img {
      max-width: 50%;
      max-height: 100%;
      filter: grayscale(100%);
      mix-blend-mode: multiply; }

@media screen and (min-width: 768px) {
  .padreInicio {
    grid-template-columns: 1fr; } }

@media screen and (min-width: 1024px) {
  .padreInicio {
    grid-template-columns: 1fr 1fr 1fr; } }

@media screen and (max-width: 375px) {
  .gridClients {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; } }
